  * {
    max-width: 100vh;
    overflow-x: hidden;
  }
  body {
    font-family: "Lexend", sans-serif;
    font-weight: 100;
    font-style: normal;

    margin: 0;
    padding: 0;
    color: #FFF5EA;
    /* extending boba pearls cause horizontal shift */
    overflow-X: hidden;
  }

  /* hero section */
  .hero {
    width: 100%;
    height: 400px;
    position: relative;
  }

#logo {
    z-index: 2;
    position: absolute;
    width: 1.5rem;
    margin: 2%;
}

/* nav bar */

  .nav-bar {
    z-index: 1;
    margin-top: 0rem;
    margin-right: .5rem;
    font-size: .8rem;
    justify-content: none;
    text-align: right;
    flex-direction: column;
  }

.nav-bar a {
    color: white;
    text-decoration: none;
}

#menu:hover, #order:hover,
#phil:hover, #contact:hover,
#sign:hover {

    margin-right: 2rem;

    /*
    having issue with box shadow
    temporarily using underline
    box-shadow: 0 2px 0 white;
    */
    text-decoration: underline;
    cursor: pointer;
}
/* hero section video */

video {
    z-index: 0;
}

#myVideo {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
    filter: brightness(0.7);
}

#title {
    color: white;
    font-size: 4rem;
    margin-top: 0;
    margin-left: 1rem;
}

/* video pause button */

#pauseButton, #playButton {
    position: absolute;
    left: 23%;
    width: 2.5rem;
    margin-top: -19.5%;
}

#pauseButton:hover,
#playButton:hover {
    cursor: pointer;
}

/************************
REVIEWS SECTION
************************/
.reviews {
    margin-top: -25%;
    padding: 0;
}

.reviews h2 {
    color: #4C3015;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: .5%;
}

.review-card {
    background-color: #AE9375;
    color: #4C3015;
    font-weight: normal;
    border-radius: 10px;
    width: 32%;
}

.review-card h4 {
    font-size: .9rem;
}

.first-line {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: .5rem;
}

.review-card img {
    object-fit: contain;
}

.post {
    margin-left: 55%;
    margin-top: -15%;
}

.review-card p {
    width: 50%;
    margin-left: 5%;
    margin-top: -20%;
}

.review-card a {
    color: #87715B;
}

.read-more-button {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: .75%;
    margin-top: .5%;
    padding: 0px 10px;
    
    color: #4c3015ab;
    background-color: #FFF5EA;
    border-radius: 20px;
}

.read-more-button:hover {
    background-color: #DCCFC0;
    cursor: pointer;
}

.leave-review {
    background-color: #AE9375;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 50px;
    margin-left: 1%;
    margin-top: .5%;
}

.leave-review:hover {
    /* make hover colors more unified */
    background-color: #CCAD8B;
    cursor: pointer;
}

/* get rid of when replace image with icon from font awesome */
.leave-review img {
    object-fit: contain;
}

.leave-review a {
    text-decoration: none;
    color: #4C3015;
}