  * {
    max-width: 100vh;
    overflow-x: hidden;
  }
  body {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
    color: #FFF5EA;
    /* extending boba pearls cause horizontal shift */
    overflow-X: hidden;
  }

  /* hero section */
  .hero {
    width: 100%;
    height: 400px;
    position: relative;
  }

#logo {
    z-index: 2;
    position: absolute;
    width: 1.5rem;
    margin: 2%;
}

/* nav bar */

  .nav-bar {
    z-index: 1;
    margin-top: 0rem;
    margin-right: .5rem;
    font-size: .8rem;
    justify-content: none;
    text-align: right;
    flex-direction: column;
  }

.nav-bar a {
    color: white;
    text-decoration: none;
}

#menu:hover, #order:hover,
#phil:hover, #contact:hover,
#sign:hover {

    margin-right: 2rem;

    /*
    having issue with box shadow
    temporarily using underline
    box-shadow: 0 2px 0 white;
    */
    text-decoration: underline;
    cursor: pointer;
}
/* hero section video */

video {
    z-index: 0;
}

#myVideo {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
    filter: brightness(0.7);
}

#title {
    color: white;
    font-size: 4rem;
    margin-top: 0;
    margin-left: 1rem;
}

/* video pause button */

#pauseButton, #playButton {
    position: absolute;
    left: 23%;
    width: 2.5rem;
    margin-top: -19.5%;
}

#pauseButton:hover,
#playButton:hover {
    cursor: pointer;
}

/************************
REVIEWS SECTION
************************/
.reviews {
    margin-top: -26%;
    padding: 0;
}

.reviews h2 {
    color: #4C3015;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: .5%;
}

.review-card {
    background-color: #AE9375;
    color: #4C3015;
    font-weight: normal;
    border-radius: 10px;
    width: 32%;
}

.review-card h4 {
    font-size: .9rem;
}

.post-profile {
    display: flex;
    justify-content: left;
    width: 85%;
    gap: .5rem;
    margin-top: -10%;
    margin-left: 5%;
}

.post-profile img {
    width: 1rem;
    object-fit: contain;
}

.review-card p {
    padding-right: 10%;
    font-size: .75rem;
}

.leave-review {
    font-size: .85rem;
    background-color: #AE9375;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: fit-content;
    padding: 2.5px 10px;
    border-radius: 50px;
    margin-left: 1%;
    margin-top: .5%;
}

.leave-review img {
    width: 1.5rem;
}

.leave-review:hover {
    /* make hover colors more unified */
    background-color: #CCAD8B;
    cursor: pointer;
}

/* get rid of when replace image with icon from font awesome */
.leave-review img {
    object-fit: contain;
}

.leave-review a {
    text-decoration: none;
    color: #4C3015;
}

.blue {
    margin-top: 2%;
    background-color: #9EE2DC;
    font-weight: normal;
    color: #4C3015;
}

.section-titles {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.news {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-bottom: 2.5%;
}

.toppings {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: .85rem;
    gap: .5rem;
    font-size: .6rem;
}

.new-toppings img {
    border-radius: 10px;
    width: 10rem;
}

#oat:hover {
    transform: rotate(1.1deg);
    cursor: pointer;
}

#barley:hover, #rice:hover {
    transform: rotate(-1.1deg);
    cursor: pointer;
}

.new-toppings h3 {
    margin-top: .25rem;
}

.hours {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

#holiday-hours {
    margin-left: 3.15rem;
    width: 8rem;
    object-fit: contain;
}

#holiday-hours:hover {
    transform: rotate(-1.1deg);
    cursor: pointer;
}

#matcha-poster {
    width: 5rem;
    margin-left: -.5rem;
    object-fit: contain;
}

#matcha-poster:hover {
    transform: rotate(1.1deg);
    cursor: pointer;
}

#oat:hover, #barley:hover, #rice:hover,
#holiday-hours:hover, #matcha-poster:hover {
    transition: .7s ease;
}

/**********
specials */

.specials {
    background-color: #FFF5EA;
}

.specials h2 {
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    
    color: #4C3015;
    font-weight: normal;
}

.specials-posters {
    padding: 1% 2.5% 4% 2.5%;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.specials-posters {
    border-radius: 5px;
}

.specials-posters:hover {
    /* act as links to menu item? */
    cursor: pointer;
}

/**********************
store info section
**********************/

.store-info {
    background-color: #AE9375;
    font-weight: normal;
    color: #4C3015;
}

.store-info-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.store-info-media-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    text-align: center;
}

.location {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.store-hours {
    margin-left: -13%;
    margin-right: 1rem;
    border-radius: 10px;
    background-color: #FFF5EA;
    display: flex;
    justify-content: center;
    border: solid 2px #4C3015;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 0;
}
