  * {
    max-width: 100vh;
    overflow-x: hidden;
  }
  body {
    font-family: "Lexend", sans-serif;
    font-weight: 100;
    font-style: normal;

    margin: 0;
    padding: 0;
    color: #FFF5EA;
    /* extending boba pearls cause horizontal shift */
    overflow-X: hidden;
  }

  h2 {
    font-size: .1rem;
  }

  /* hero section */
  .hero {
    width: 100%;
    height: 400px;
    position: relative;
  }

#logo {
    z-index: 2;
    position: absolute;
    width: 1.5rem;
    margin: 2%;
}

/* nav bar */

  .nav-bar {
    z-index: 1;
    margin-top: 0rem;
    margin-right: .5rem;
    margin-left: 79.5%;
    font-size: .8rem;
    justify-content: none;
    text-align: right;
    flex-direction: column;
  }

.nav-bar a {
    color: white;
    text-decoration: none;
}

#menu:hover, #order:hover,
#phil:hover, #contact:hover,
#sign:hover {
    box-shadow: 0 2px 0 white;
    cursor: pointer;
}
/* hero section video */

video {
    z-index: 0;
}

#myVideo {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
    filter: brightness(0.7);
}

#title {
    color: white;
    font-size: 8rem;
    margin-top: 27rem;
    margin-left: 3rem;
}

/* video pause button */

#pauseButton, #playButton {
    position: absolute;
    left: 95%;
    margin-top: -11%;
}

#pauseButton:hover,
#playButton:hover {
    cursor: pointer;
}