body {
    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
    color: #FFF5EA;
}

video {
    z-index: 0;
}

.hero {
    width: 100%;
    height: 675px;
    position: relative;
}

#logo {
    position: absolute;
    width: 3rem;
    margin: 1rem;
}

.nav-bar {
    color: white;
    display: flex;
    justify-content: space-around;
}

#menu {
    margin-left: 20rem;
}

#menu:hover, #order:hover,
#phil:hover, #contact:hover,
#sign:hover {
    color: #01A294;
    text-decoration: underline;
    cursor: pointer;
}

#title {
    color: white;
    font-size: 8rem;
    margin-top: 27rem;
    margin-left: 3rem;
}

#pause {
    position: absolute;
    margin-bottom: 30rem;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
}

.reviews h2 {
    color: #4C3015;
}
