body {
    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
    color: #FFF5EA;
}

/* hero section */

video {
    z-index: 0;
}

.hero {
    width: 100%;
    height: 675px;
    position: relative;
}

#logo {
    position: absolute;
    width: 3rem;
    margin: 1rem;
}

.nav-bar {
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    transition: white 1s ease;
}

#menu {
    margin-left: 20rem;
}

#menu:hover, #order:hover,
#phil:hover, #contact:hover,
#sign:hover {
    box-shadow: 0 2px 0 white;
    cursor: pointer;
}

#title {
    color: white;
    font-size: 8rem;
    margin-top: 27rem;
    margin-left: 3rem;
}

#pauseButton, #playButton {
    position: absolute;
    left: 95%;
    margin-top: -11%;
}

#pauseButton:hover,
#playButton:hover {
    cursor: pointer;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
}

/* review section */

.reviews h2 {
    margin-top: 2.5%;
    color: #4C3015;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1.25%;
}

.review-card {
    background-color: #AE9375;
    color: #4C3015;
    font-weight: normal;
    border-radius: 5%;
}

.review-card h4 {
    font-size: 1.3rem;
}