body {
    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
    color: #FFF5EA;
}

/* hero section */

video {
    z-index: 0;
}

.hero {
    width: 100%;
    height: 675px;
    position: relative;
}

#logo {
    position: absolute;
    width: 3rem;
    margin: 1rem;
}

.nav-bar {
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    transition: white 1s ease;
}

#menu {
    margin-left: 20rem;
}

#menu:hover, #order:hover,
#phil:hover, #contact:hover,
#sign:hover {
    box-shadow: 0 2px 0 white;
    cursor: pointer;
}

#title {
    color: white;
    font-size: 8rem;
    margin-top: 27rem;
    margin-left: 3rem;
}

#pauseButton, #playButton {
    position: absolute;
    left: 95%;
    margin-top: -11%;
}

#pauseButton:hover,
#playButton:hover {
    cursor: pointer;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
}

/* review section */

.reviews h2 {
    margin-top: 2.5%;
    color: #4C3015;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 1%;
}

.review-card {
    background-color: #AE9375;
    color: #4C3015;
    font-weight: normal;
    border-radius: 5%;
    width: 32%;
}

.review-card h4 {
    font-size: 1.3rem;
}

.first-line {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: .5rem;
}

.review-card img {
    object-fit: contain;
}

.post {
    margin-left: 55%;
    margin-top: -15%;
}

.review-card p {
    width: 50%;
    margin-left: 5%;
    margin-top: -20%;
}

.review-card a {
    color: #87715B;
}

.read-more-button {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: .75%;
    margin-top: .5%;
    padding: 0px 10px;
    
    color: #4c3015ab;
    background-color: #FFF5EA;
    border-radius: 20px;
}

.read-more-button:hover {
    background-color: #DCCFC0;
    cursor: pointer;
}

.leave-review {
    background-color: #AE9375;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 50px;
    margin-left: 1%;
    margin-top: .5%;
}

.leave-review:hover {
    /* make hover colors more unified */
    background-color: #CCAD8B;
    cursor: pointer;
}

/* get rid of when replace image with icon from font awesome */
.leave-review img {
    object-fit: contain;
}

.leave-review a {
    text-decoration: none;
    color: #4C3015;
}

/****************************************************
****************************************************
Account (sign in/log in styling)
****************************************************/
.sign-in {
    color: #4C3015;
    background-color: #FFF5EA;
    width: 75%;
    position: relative;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}