.footer {
    background-color: #25B8BC;
    color: white;
}

.logo-section img {
    width: 15rem;
}

.footer-sections {
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.button-top {
    margin: 3rem 0 3rem 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    border: solid white 1.5px;
}

.footer-col1 {
    padding-left: 25%;
}

.footer-col2 {
    padding-left: 25%;
}

.footer-col1, .footer-col2 {
    margin-top: -10rem;
    line-height: 3;
}

ul {
    list-style: none;
}

.footer-col1 a,
.footer-col2 a {
    font-size: 1.75rem;
    text-decoration: none;
    color: white;
}

.left-footer-col h4 {
    font-size: 1.5rem;
}

.footer i {
    font-size: 2.25rem;
}

.footer-col1 a:hover, .footer-col2 a:hover {
    cursor: pointer;
    /* replace w border bottom? */
    /* add to individual sites */
    border-bottom: solid white 2px;
    transition: none;
    border-radius: 2.5px;
}

.footer-col1 a:has(i):hover,
.footer-col2 a:has(i):hover {
    border-bottom: none;
    color: #00777E;
}

.button-top:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.219);
}

.logo-section img {
    width: 18rem;
    padding: 5%;
}

/* .baristas {
    width: 15rem;
    margin-left: 55%;
    margin-top: -15rem;
    margin-bottom: -.35rem;
} */