* {
    margin: 0;
    padding: 0;
}

.menu-header {
    background-color: #25B8BC;
    margin-bottom: 2rem;
}

.menu-header h1 {
    font-size: 5rem;
    padding-top: 10rem;
    text-align: center;
    color: #333333;
}

h2:hover {
    background-color: rgba(255, 255, 255, 0);
}

.search img {
    width: 3rem;
    height: auto;
}

.search {
    display: flex;
    align-items: center;
    padding: .5rem 0 .5rem 0;
    justify-content: center;
    gap: 4rem;
    background-color: rgb(229, 229, 229);
    margin: 0 auto;
    width: 35%;
    border-radius: 2rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    padding: 3rem;
    width: 65%;
    margin: 0 auto;
}

.filter-pill {
    background-color: #AE9375;
    color: #4C3015;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.35rem;
    font-weight: 600;
    cursor: pointer;
}

.filter-pill:hover {
    background-color: #785231;
    color: #e3cbaf;
}

.menu-header img {
    position: absolute;
    width: 35rem;
    z-index: 0;
    left: 57%;
    top: 50%;
}

.classic h1 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0 4rem 0;
    color: #333333;
}

.classic-drinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    gap: 3rem;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.classic-drinks h3 {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333333;
}

.tags {
    position: absolute;
    margin-left: -.4rem;
    margin-top: -.2rem;
}

.tags p {
    background-color: #4C3015;
    padding: .15rem .35rem;
    border-radius: 50%;
    margin-bottom: .2rem;
}

/* .first-tag:hover {
    margin-left: -3rem;
    background-color: #AE9375;
    padding: 0 3rem 0 .25rem;
    border-radius: 4px;
} */
/* 
.second-tag:hover {
    background-color: #AE9375;
    padding: 0 1rem 0 .25rem;
    border-radius: 0;
}

.third-tag:hover {
    background-color: #AE9375;
    padding: 0 1rem 0 .25rem;
    border-radius: 0;
} */

.drink-card {
    width: 100%;
    background-color: #AE9375;
    text-align: center;
}

.drink-card:hover {
    cursor: pointer;
    background-color: #25B8BC;
}

.drink-card img {
    width: 100%;
}

.modal-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal {
    top: 5%;
    width: 75%;
    height: 90%;

    position: fixed;
    z-index: 100;
    background-color: rgb(142, 194, 142);

    display: flex;
}

.modal img {
    width: 60%;
    height: auto;
    object-fit: contain;
    object-fit: cover;
}

.fa-circle-xmark {
    font-size: 2rem;
}

.fa-circle-xmark:hover {
    cursor: pointer;
}

.submit-order-options {
    font-size: 1.5rem;
    width: 60%;
    display: flex;
    background-color: purple;
    justify-content: space-between;
}

.add-order-options {
    display: flex;
    background-color: rgb(86, 109, 86);
}

.submit-order-options {
    display: flex;
}

.order-quantity-options {
    display: flex;
    width: 100%;
    justify-content: space-around;
}