/* mobile */
@media (max-width: 767px) {
    #video {
        height: 20rem;
    }

    #logo {
        width: 2.5rem;
        top: 1rem;
        left: 1rem;
    }

    #title {
        top: 30%;
        left: 3%;
        font-size: 4.5rem;
    }
}
/* desktop */
@media (min-width: 767px) { 
    #video {
        height: 35rem;
    }

    #logo {
        width: 3.25rem;
        top: 2rem;
        left: 2rem;
    }

    #title {
        top: 62.5%;
        left: 2%;
        font-size: 5rem;
    }
}

#video {
    width: 100%;
    object-fit: cover;
}

#logo {
    position: absolute;
    z-index: 100;
}

#logo:hover {
    transform: scale(1.15);
}

#title {
    color: white;
    font-family: Arial;
    position: absolute;
    z-index: 100;
}