.map {
    background-color: #FFF5EA;
}

.map h2 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 3rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.map img {
    width: 92.5%;
    margin-left: 50%;
    padding-bottom: 1rem;
    transform: translateX(-50%);
    border-radius: 10px;
}