/* mobile */
@media (max-width: 767px) {
    .fa-bars {
        position: absolute;
        text-align: right;
        right: 1.25rem;
        margin-top: -1rem;

        top: 2rem;
        font-size: 2.5rem;
        color: white;
    }
    
    .fa-x {
        text-align: right;
        margin-right: 1.25rem;
        margin-top: 2rem;
        font-size: 2.5rem;
        color: white;
    }

    /* .fa-x {
        position: absolute;
        text-align: right;
        right: 1rem;
        margin-top: -1rem;

        top: 2rem;
        font-size: 2.5rem;
        color: white;
    } */

    /* replace with collapsable section
    like teaspoon website */
    .navbar {
        background-color: rgb(39, 91, 39);
        
        text-align: right;
        justify-content: center;

        width: 100%;
        font-size: 1.75rem;
        line-height: 1.6;

        top: 0;
        padding-bottom: 100%;

    }

    .navbar h3 {
        margin-right: 1.25rem;
    }

    #menu:hover,
    #order:hover,
    #contact:hover,
    #sign:hover {
        text-decoration: underline;
        color: white;
    }
}

/* desktop
@media (min-width: 767px) { 
    .navbar {
        display: flex;
        justify-content: center;
        margin-top: -33.5rem;
        margin-left: 25rem;
        gap: 10rem;
        font-size: 1.35rem;
    }

    #menu:hover,
    #order:hover,
    #contact:hover,
    #sign:hover {
        border-bottom: 2px solid white;
    }
}
*/

.navbar {
    position: absolute;
}

#menu:hover,
#order:hover,
#contact:hover,
#sign:hover {
    transition: none;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.fa-bars:hover {
        cursor: pointer;
}