/* mobile */
@media (max-width: 767px) {
    .philosophy h2 {
        padding-top: 1rem;
        font-size: 2.15rem;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    .cards {
        /* background-color: rgb(137, 75, 137); */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .philosophy h6 {
        font-size: .85rem;
    }

    .philosophy-section {
        display: grid;
        place-items: center;
        text-align: center;

        padding: 1rem;
        margin: 6%;
        background-color: #51bab1;
        border-radius: 50%;
        aspect-ratio: 1;
        line-height: 1.3;
    }

    .philosophy-section > * {
        max-width: 95%;
        margin: 0 auto;
    }

    .card-images {
        /* background-color: rgb(96, 158, 128); */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

        position: absolute;
        width: 100%;
    }

    .fresh-img {
        margin-left: -75%;
        margin-top: 175%;
    }

    .flavor-img {
        margin-left: 3%;
        margin-top: -28%;
        position: absolute;
    }
    
    .fashion-img {
        margin-left: 3%;
        margin-top: -28%;
        position: absolute;
    }
    
    .favor-img {
        margin-left: 90%;
        margin-top: 125%;
    }

    .fresh-img:hover, .fashion-img:hover,
    .flavor-img:hover, .favor-img:hover {
        transform: scale(1.15) rotate(2deg);
        cursor: pointer;
    }

    .philosophy-images img {
        width: 6rem;
    }
}
/* desktop */
@media (min-width: 767px) {
    .philosophy h2 {
        font-size: 2.75rem;
        margin-top: 2.5rem;
    }

    .cards {
        background-color: rgb(137, 75, 137);
    }

}

.philosophy {
    background-color: #FFF5EA;
    margin: 0;
    padding: 0;

    color: black;
    font-size: 2rem;
    position: relative;
}

.philosophy h2 {
    display: flex;
    justify-content: center;
}

.philosophy h3 {
    font-size: 2rem;
}

.philosophy h4 {
    font-size: 1.5rem;
}

/* .philosophy h6 {
    font-size: 1rem;
} */