/* mobile */
@media (max-width: 767px) {
    .philosophy h2 {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }
}
/* desktop */
@media (min-width: 767px) {
    .philosophy h2 {
        font-size: 2.75rem;
        margin-top: 2.5rem;
    }

}

.philosophy {
    color: black;
    font-size: 2rem;
    position: relative;
}

.philosophy h2 {
    display: flex;
    justify-content: center;
}

.philosophy h3 {
    font-size: 2rem;
}

.philosophy h4 {
    font-size: 1.5rem;
}

.philosophy h6 {
    font-size: 1rem;
}